<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>


using AutoMapper;
using System.Runtime.CompilerServices;

namespace <#= Parameter.PreferredNameSpace #>
{
    public partial class MapperProfile : Profile
    {
        public partial void GeneratedCodeMapping()
        {
            
            <#=RegistrationString#>
        }
    }

}